1. no nsfw or any kind of gore or a disturbing content (instant ban and never to be unbanned)

2. you can say the n word or hard r but not like directly to someone (if you know you know)
3. ragebaiting is 100% allowed

4.follow discord TOS all the time
5. no promoting or mentioning any other products unless they're partnered with us

6.no doxxing of any kind
7.use common sense

8.don't be retarded

9.if you open ticket and don't answer you get one entire week timeout or even a ban

10.if you open and leave the server then a ban

11.before opening any ticket read whats in the channel or there will be consequences

12.no scamming (unbanned)
